
<!--페이지 로딩 속도를 높이기 위해 js는 footer에-->
<!--js 용량이 클수록 body 부분의 실행이 늦어지기 때문에 js는 body 하단에 두어 화면이 다 그려진 뒤에 호출하는 것이 좋음 !-->
<script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--bootstrap.js 경우 jquery가 꼭 있어야만 하기 때문에 jquery를 먼저 호출 (부트스트랩.js가 제이쿼리에 의존)-->
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src = "/js/app/index.js"></script>
</body>
</html>