<!--오픈 소스인 부트스트랩과 제이쿼리를 활용하여 뷰 그리기-->
<!--레이아웃 방식으로 공통 영역을 별도의 파일로 분리(header/footer)하여 필요한 곳에 가져다 사용-->
<!--사용할 때 마다 매번 라이브러리를 추가하는 번거로움을 해결 !-->

<!--페이지 로딩 속도를 높이기 위해 css는 header에-->
<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
