<!--머스테치 템플릿 엔진-->
<!--수많은 언어를 지원하는 가장 심플한 템플릿 엔진으로서, 현존하는 대부분의 언어를 지원하고 있음-->
<!--자바에서 사용될 때는 서버 템플릿 엔진으로, 자바스크립트에서 사용될 때는 클라이언트 템플릿 엔진으로 모두 사용 가능-->

<!--머스테치 템플릿 엔진의 장점-->
<!--1. 문법이 다른 템플릿 엔진보다 심플함-->
<!--2. 로직 코드를 사용할 수 없어 'View'의 역할만 가능하기 때문에 역할 분리로 유지보수 측면에서 용이함-->
<!--3. mustache.java / mustache.js 2가지가 다 있기 때문에 하나의 문법으로 서버/클라이언트 템플릿을 모두 사용 가능-->

<!--현재 머스테치 파일을 기준으로 다른 파일을 가져올 때-->
{{>layout/header}}

<h1>스프링부트로 시작하는 웹 서비스</h1>
<div class="col-md-12">
    <!--로그인 기능 영역-->
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            <!--머스테치는 다른 언어와 같은 if문 등을 제공하지 않고 true, false 여부만 판단하기 때문에 항상 최종값을 넘겨줘야함-->
            <!--userName이 있다면 userName 보여주기-->
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <!--스프링 시큐리티에서 기본적으로 제공하는 logout url-->
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            <!--userName이 없다면 로그인 버튼 보여주기->
            {{^userName}}
                <--스프링 시큐리티에서 기본적으로 제공하는 로그인 url-->
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            {{/userName}}
        </div>
    </div>
    <br>

    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <!--posts라는 리스트를 순회 = for문 역할-->
        {{#posts}}
            <tr>
                <!--{변수명} List에서 뽑아낸 객체의 필드 사용-->
                <td>{{id}}</td>
                <!--타이틀에 링크 추가-->
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}